<!DOCTYPE html>
<html lang="en">

	<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>SIWMovie - Gestisci Un Film</title>
	    <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	
	<body>
	
	    <nav th:insert="~{navbar.html :: navbar-admin}"> </nav>
	
		
	    <main class="container mt-4">
		    <div th:fragment="movie-banner" class="row align-items-center">
		        <div id="manage-options" class="col d-flex flex-column justify-content-center">
		            <a th:href="@{'/admin/editMovie/'+${movie.id}}" class="btn btn-light mb-3" style="height: 50px; width: 70px;">
		                <img th:src="@{/pngs/edit.png}" style="max-width: 40px; max-height: 40px;">
		            </a>
		            <a th:href="@{'/admin/deleteMovie/'+${movie.id}}" class="btn btn-light" style="height: 50px; width: 70px;">
		                <img th:src="@{/svgs/bin.svg}" style="max-width: 40px; max-height: 40px;">
		            </a>
		        </div>
		
		        <div id="movie-image" class="col-4">
		            <img th:src="@{'data:image;base64,' + ${movie.imageString}}" class="img-fluid rounded">
		        </div>
		
		        <div id="movie-info" class="col">
		            <div class="mb-2">
		                <h2 th:text="'Titolo: '+${movie.title}"></h2>
		            </div>
		            <hr>
		            <div class="mb-2">
		                <h2 th:text="'Anno di Pubblicazione: '+${movie.year}"></h2>
		            </div>
		            <hr>
		            <div th:if="${movie.director}" class="mb-2">
		                <a th:href="@{'/admin/addDirector' + '/' + ${movie.id}}" class="btn btn-link">
		                    <h2 th:text="'Regista: '+${movie.director.name} + ' ' + ${movie.director.surname} + ' | Modifica'"></h2>
		                </a>
		            </div>
		            <div th:unless="${movie.director}" class="mb-2">
		                <a th:href="@{'/admin/addDirector' + '/' + ${movie.id}}" class="btn btn-link">
		                    <h2 th:text="'Regista: Modifica'"></h2>
		                </a>
		            </div>
		            <hr>
		            <div class="mb-2">
		                <a th:href="@{'/admin/manageActors/' + ${movie.id}}" class="btn btn-link">
		                    <h2 th:text="'Lista Attori: Modifica'"></h2>
		                </a>
		            </div>
		            <hr>
		        </div>
		    </div>
		
		    <div class="row mt-5">
		        <h2>Recensioni</h2>
		        <div class="col-12">
		            <div class="mb-3" th:each="review: ${movie.reviews}">
		                <h3 th:text="'Titolo: ' + ${review.title} + ' di ' + ${review.user.name} + ' ' + ${review.user.surname}+' | Valutazione: '+ ${review.valutation} +'/5'"></h3>
		                <!--<progress max="5" th:value="${review.valutation}" class="form-control"></progress>-->
		                <a th:href="@{'/admin/manageReview/'+${review.id}}" class="btn btn-link" style="margin-left: 10%;">
		                    <h3>Leggi Recensione</h3>
		                </a>
		            </div>
		        </div>
		    </div>
		</main>
	
		<!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	</body>

</html>