<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIWMovie - Il mio Profilo</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/stile.css}">


</head>

<body>

    <nav th:insert="~{navbar.html :: navbar-std}"> </nav>

    <main class="container mt-3">
	    <div class="column align-items-center" style="height: 500px;">
	        <h2 class="ml-2" th:utext="'Nome Utente: ' + ${user.name} + ' ' + ${user.surname} + '<br/>' +  ' Le mie Recensioni:'">Recensioni</h2>
	        <div class="d-flex justify-content-end">
	        </div>
	        <div class="review-container overflow-auto" style="height: 400px;">
	            <div th:each="review: ${user.review}" id="container-recensione" class="review-container mt-4 rounded shadow" style="text-align: center;">
	                <h3 th:text="'Titolo: ' + ${review.title} + '&ensp;' + '&nbsp;' + '|' + '&ensp;' + ' Valutazione: '+ ${review.valutation} +'/5' + '&ensp;'"></h3>
	                <!--<progress max="5" th:value="${review.valutation}" class="progress"></progress>-->
					<div th:with="valutation=${review.valutation}">
					    <div class="stars-container">
					        <p id="stars" th:each="review: ${#numbers.sequence(0, 5)}">
					            <span th:if="${review > valutation}" class="fa fa-star"></span>
					            <span th:if="${review < valutation}" class="fa fa-star checked"></span>
					        </p>
					    </div>
					</div>

	                
	                <a th:href="@{'/user/editReview/'+${review.id}}" class="btn btn-link ml-2"><h2>Modifica Recensione</h2></a>
	            </div>
	        </div>
	    </div>
	</main>
	<!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	

</body>

</html>