<!DOCTYPE html>
<html lang="en">

	<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>SiwMovie -Recensisci Film</title>
	    <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	</head>

	<body class="background">
	
	    <nav th:insert="~{navbar.html :: navbar}"> </nav>
	
	    <main class="container mt-3">
		    <!--<div th:insert="~{movie.html :: movie-banner}" class="w-100"></div>-->
		
		    <form method="POST" th:action="@{'/user/addReviewTo/' + ${movie.id}}" th:object="${review}">
		
		        <div class="d-flex mt-2" id="title-and-valutation" style="justify-content: center;">
		
		            <div class="d-flex flex-column ml-2">
		                <div class="d-flex align-items-center">
		                    <h3>Titolo:&nbsp</h3>
		                    <input type="text" placeholder="Titolo" class="form-control" style="width: 200px"
		                        th:field="${review.title}">
		                </div>
		                <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
		            </div>
		
		            <div class="d-flex flex-column ml-4">
		                <div class="d-flex align-items-center">
		                    <h2 th:text="'Numero di Stelle:'">Numero Di Stelle:</h2>
		                    <span>&ensp;</span>
		                    <input type="radio" name="valutation" value="1" th:checked="${review.valutation == 1}">
		                    <h2>&nbsp; 1 &nbsp;</h2>
		                    <input type="radio" name="valutation" value="2" th:checked="${review.valutation == 2}">
		                    <h2>&nbsp; 2 &nbsp;</h2>
		                    <input type="radio" name="valutation" value="3" th:checked="${review.valutation == 3}">
		                    <h2>&nbsp; 3 &nbsp;</h2>
		                    <input type="radio" name="valutation" value="4" th:checked="${review.valutation == 4}">
		                    <h2>&nbsp; 4 &nbsp;</h2>
		                    <input type="radio" name="valutation" value="5" th:checked="${review.valutation == 5}">
		                    <h2>&nbsp; 5 &nbsp;</h2>
		                </div>
		                <span class="text-danger" th:if="${#fields.hasErrors('valutation')}" th:errors="*{valutation}"></span>
		            </div>
		
		        </div>
		        
		        <br>
		
		        <div class="d-flex align-items-center ml-2 mt-2" style="flex-direction: column;">
		            <div class="d-flex flex-column" style="width: 70%">
		                <textarea type="text" class="form-control" th:field="${review.content}"></textarea>
		                <span class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
		            </div>
		            <div><br></div>
		
		            <div class="d-flex flex-column ml-2">
		                <input type="submit" class="btn btn-primary">
		                <div th:if="${#fields.hasGlobalErrors()}">
		                    <h3 class="text-danger" th:each="err:${#fields.globalErrors()}" th:text="${err}">Errore</h3>
		                </div>
		            </div>
		        </div>
		    </form>
		</main>
	
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	</body>

</html>