<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'SIWMovie - ' +${movie.title}"></title>
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/css/stile.css}">
</head>

<body>

    <nav th:insert="~{navbar.html :: navbar-std}"> </nav>

    <main class="container mt-4">

    <div th:fragment="movie-banner" class="row align-items-center">
        <div id="movie-image" class="col-lg-5">
            <img th:src="@{'data:image;base64,' + ${movie.imageString}}" class="img-fluid rounded mx-auto d-block">
        </div>
        <div id="movie-info" class="col-lg-7">
            <h3 th:text="'Titolo: '+${movie.title}"></h3>
            <hr>
            <h5 th:text="'Anno di Pubblicazione: '+${movie.year}"></h5>
            <hr>
            <div th:if="${movie.director}">
                <a class="text-decoration-none" th:href="@{'/artists' + '/' + ${movie.director.id}}">
                    <h5 th:text="'Regista: '+${movie.director.name} + ' ' + ${movie.director.surname}"></h5>
                </a>
            </div>
            <div th:unless="${movie.director}">
                <h5 th:text="'Ancora nessun Regista'"></h2>
            </div>
            <hr>
            <a class="text-decoration-none" th:href="@{'/artistsForMovie' + '/' + ${movie.id}}">
                <h5 th:text="'Lista Attori: Visualizza'"></h5>
            </a>
            <hr>
        </div>
    </div>

    <div class="movie-reviews-banner my-5">
		<h3>Recensioni</h3>
        <div class="d-flex align-items-center mb-4">
			<h3 th:if="${rating} != null" th:text="'Valutazione Media: '+${rating}+'/5'"></h3>
			<!-- <progress th:if="${rating} != null" class="progress-bar rounded shadow" th:value="${rating}" max="5"></progress>-->
		</div>
        <div class="d-flex justify-content-center" th:if="${reviews.isEmpty()}">
			<h4>Non ci sono recensioni per quest film!</h4>
        </div>
        <div class="d-flex justify-content-center">
            <a id="bottone-recensione" class="btn btn-primary shadow" th:href="@{'/user/reviewFilm/' + ${movie.id}}">Aggiungi una Recensione</a>
        </div>
        <div th:each="review:${reviews}" id="container-recensione" class="review-container mt-4 rounded shadow">
            <!--<div id="contenuto-recensione" class="review-content ml-3" th:each="review: ${movie.reviews}">-->
			<div id="contenuto-recensione" class="review-content ml-3">
	            <h2 th:text="'Titolo: ' + ${review.title}"></h2>
	            <h5 th:text="'Autore: ' + ${review.user.name} + ' ' + ${review.user.surname}"></h5>
                <h5 style="padding-bottom: 5px;" th:text="'Valutazione: '+ ${review.valutation} +'/5'"></h5>
	            <!--<progress max="5" th:value="${review.valutation}" class="progress-bar rounded shadow"></progress>-->
					<div th:with="valutation=${review.valutation}">
					    <div class="stars-container">
					        <p id="stars" th:each="idStar: ${#numbers.sequence(0, 5)}">
					            <span th:if="${idStar > valutation}" class="fa fa-star"></span>
					            <span th:if="${idStar < valutation}" class="fa fa-star checked"></span>
					        </p>
					    </div>
					</div>
		        <a th:href="@{'/review/'+${review.id}}" class="text-decoration-none"><h5 style="padding-top: 10px;">Leggi Recensione</h5></a>
            </div>
        </div>
    </div>

</main>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>